h1, h3, h4{
  font-family: Raleway;
  font-size: 22px;
  line-height: 25.83px;
  font-weight: 700;
  margin-left: 38px;
  margin-right: 20px;
}
  

  p {
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 18.78px;
  margin-left: 38px;
  margin-right: 20px;
  }

  .search-container {
  display: flex;
  padding: 20px;
  }

  .search-button{
  width: 100px;
  height: 49px;
  border: 1px solid #0065FC;
  border-radius: 0px 50px 50px 0px;
  background-color: #0065FC;
  color: #f2f2f2;
}

.search-bar {
  width: 200px;
  border: 1px solid #f2f2f2;
  background-color: #FFFFFF;
}
  .search-bar::placeholder {
    font-weight: bold;
    color: black;
    font-size: 15px;
    padding: 10px;
  }

  .fa-search {

  }

  .fa-solid.fa-location-dot{
 margin-left: 10px;
 border-radius: 50px 0 0 50px;
 width: 60px;
 background-color: #f2f2f2;
  }

 
.filters-section{
  display: flex;
}
.filters , .icon{
  display: flex;
  margin-right: 30px;

}

.icon {
  width: 100px;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  color: #0065FC;
  
