.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
width: 275px;
height: 35px;
left: -5px;
top: 0px;

}

.nav-bar {
  text-decoration: none;
  color: black;
  padding: 8px;
  
}

.nav-bar:hover {
  text-decoration: overline;
  color: #0065FC;
}

.booki-icon {
  height: 79px;
  width: 121.09px;
  padding: 30px;
}

