/* Table of Contents */
/* 
1. header
2. Tablet
3. Popular
*/

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

h1,
h3,
h4 {
  font-family: Raleway;
  font-size: 22px;
  line-height: 25.83px;
  margin-right: 20px;
  margin-bottom: 5px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
 color: var(--main-color);
}

p {
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 18.78px;
  margin-right: 20px;
}

/* Header Start */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
width: 275px;
height: 35px;
left: -5px;
top: 0px;

}

.nav-bar {
  text-decoration: none;
  color: black;
  padding: 8px;
  
}

.nav-bar:hover {
  text-decoration: overline;
  color: #0065FC;
}

.booki-icon {
  padding: 30px;
}
/* Header End */

/* Search Section Start */
.search-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 38px 20px 38px;
  /* Align with h1/p margins */
}

.search-heading h1 {
  font-size: 28px;
  margin-left: 0;
  margin-right: 0;
}

.search-bar-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.location-icon {
  width: 60px;
  height: 49px;
  background-color: #f2f2f2;
  border-radius: 50px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  flex: 1;
  min-width: 150px;
  height: 49px;
  padding: 0 10px;
  border: 1px solid #f2f2f2;
  background-color: white;
}

.search-button {
  height: 49px;
  padding: 0 20px;
  border: 1px solid #0065fc;
  border-radius: 0 50px 50px 0;
  background-color: #0065fc;
  color: #f2f2f2;
  font-weight: 800;
}
/* Search Section End */


/* Filter Section Start */
.filter-section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 38px;
  padding-right: 20px;
}

.filter-title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px
}

.filter-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bolder;
  white-space: nowrap;
}


.fa-money-bill-wave,.fa-person,.fa-heart,.fa-fire{
 margin: 10px;
 color: #0065FC;
}
/* Filter Section End */

/* Info Section Start */
.info-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 38px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 5px;
  /* Align with h1/p margins */
}

.info-section p {
  margin: 0;
  font-size: 14px;
  color: #606060;
}
/* Info Section Ends */


body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}


.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 5rem;
  margin: auto;
}


.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;  
}

.accommodation-title {
margin-bottom: 20px;
    
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
 width: 100%; 
 height: 124px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title {
    font-size: 16px;
}

.card-rating {
  padding-left: 5px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color);
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    gap: 40px;
}

.accommodation-and-popular section
{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Accommodation ***********/
.accommodation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}


.accommodation-cards .card {
  width: 250.33px;
  height: 207.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
box-sizing: border-box;
}

.accommodation-cards .card-content {
    display: flex;
    flex-direction: column;
}

.accommodation-cards .card-title {
    margin-top: 0px;
}

.accommodation-cards .card-subtitle {
  margin-top: 0px;
}

.accommodation-cards .card-rating {
display: flex;
position: relative;
bottom: 9px;
}

/****** 3. Popular START ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin: auto;
 
}


.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** 3. Popular END ***********/
/****** 3. Activities Start ***********/
.activities {
  padding: 20px;
}

.activities-cards {
  display: flex;
  justify-content: space-between;
}

.activities-cards img{
  width: 297.5px;
  height: 439px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f8fa;
  text-align: center;
  padding: 20px 0;
}

.bott-info-sections {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

/* MOBILE VIEW (Phones) */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

  .main-container {
    padding: 0 15px;
  }

  .header-container {
    flex-direction: column;
    margin-right: 30px;
    gap: 10px;
  }

.nav-bar {
}

.nav-bar:hover {
    text-decoration: underline;
    color: #0065FC;
}

  .booki-icon {
    width: 150px;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  .search-bar-area {
    display: flex;
    flex-wrap: nowrap;
  }
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

  .filter-btn {
    width: 162px;
    font-size: 15px;
    font-weight: bolder;
  }
  .accommodation-and-popular {
    flex-direction: column;
  }

  .accommodation,
  .popular {
    width: 100%;
    margin-bottom: 20px;
  }

  .accommodation-cards,
  .popular-cards {
    flex-direction: column;
    align-items: center;
  }

  .accommodation-cards .card,
  .popular-cards .card {
    width: 90% !important;
  }

  .popular-cards .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .popular-cards img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  .popular-cards .card-content {
    width: 100%;
    padding: 10px;
  }

    .activities-cards {
      display: grid;
      grid-template-columns: 1fr;
    }
    .bott-info-sections {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
      
    }
  }
  
  /* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {

 .accommodation-and-popular  {
  display: flex;
  flex-direction: column;
 }
  .accommodation-and-popular section {
    width: 100%;
    margin-bottom: 20px;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .popular-cards .card {
    width: 100%;
    flex-direction: row;
  }
}